<center>
    <h1>Add Page</h1>
    <form method="post" action="/addRecord">
        <table border="1">
            <tr>
                <td>Book Name</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>Published Year</td>
                <td><input type="number" name="publishedyear"></td>
            </tr>
            <tr>
                <td>Author Name</td>
                <td><input type="text" name="authorname"></td>
            </tr>
            <tr>
                <td>Book Pages</td>
                <td><input type="text" name="bookpages"></td>
            </tr>
            <tr>
                <td>Price</td>
                <td><input type="text" name="price"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="submit"></td>
            </tr>
        </table>
    </form>
    <button><a href="/">View Page</a></button>
</center>